body {
  background-color: whitesmoke;
  font-family: 'Roboto Condensed', sans-serif;
}

aside {
  background-color: azure;
  padding: 1em;
}

#fishtank {
  display: flex;
  flex-wrap: nowrap;
  margin: 1em;
}

.fishlist {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
}

.fishlist-card {
  margin: 1em;
  flex-basis: 25%;
  background-color: aliceblue;
  border: 2px solid black;
}

.fish-image{
  width: 100%;
  height: auto;
}